@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&family=Noto+Sans+Mono&display=swap');
body {
	background-color: #f9f9f9;
	color: #1c1c1c;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 12px;
}

button {
    width: 150px;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
    background-color: #c6ddea;
    color: #1c1c1c;
    cursor: pointer;
    font-family: 'Noto Sans Mono', monospace;
}

button:hover {
    background-color: #a6c8e5;
}
